@inherits LayoutComponentBase

<div class="page flex-1 justify-center items-center">
    <main class="w-10/12">
        <header class="flex">
            <h1 class="text-2xl">
                Daniel Blog
            </h1>
            <nav>
                <ul class="">
                    <li class="inline">
                        <NavLink href="/">Posts</NavLink>
                    </li>
                    <li class="inline">
                        <NavLink href="/sobre">Sobre</NavLink>
                    </li>
                    <li class="inline">
                        <NavLink href="/contato">Contato</NavLink>
                    </li>
                </ul>
                <li></li>
            </nav>
        </header>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
